# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  workflow_dispatch:
  schedule:
    - cron: '*/10 * * * *'
    
env:
  TZ: Asia/Shanghai
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup WARP
        uses: fscarmen/warp-on-actions@v1.1
      - name: Run a one-line script
        run: |
          bash cb.sh
          #sudo warp-cli --accept-tos mode proxy
          sleep 10
          bash pd.sh
          bash af.sh
          bash st.sh
        env:
          AUTHORIZATION: ${{ secrets.AUTHORIZATION }}
          BOTTOKEN: ${{ secrets.BOTTOKEN }}
          SYNCTV: ${{ secrets.SYNCTV }}
          COOKIE: ${{ secrets.COOKIE }}
          USERTOKEN: ${{ secrets.USERTOKEN }}
          USERNAME: ${{ secrets.USERNAME }}
          PASSWORD: ${{ secrets.PASSWORD }}
          M3U8SITE: ${{ secrets.M3U8SITE }}
          AFCOOKIE: ${{ secrets.AFCOOKIE }}
      - name: commit
        run: |
          git config --global user.email "you@example.com"
          git config --global user.name "Your Name"
          git add .
          git commit -m "update" -a
      - name: Push changes
        id: push
        run: git push || echo "git push failed" > push_failed.txt
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        continue-on-error: true
      - name: Check if push failed
        id: check_push_failed
        run: |
          if [ -f push_failed.txt ]; then
            echo "Push failed"
            echo "push_failed=true" >> $GITHUB_ENV
          else
            echo "Push succeeded"
            echo "push_failed=false" >> $GITHUB_ENV
          fi
      - name: Retry Push on Failure
        if: env.push_failed == 'true'
        run: |
          n=0
          until [ $n -ge 3 ]
          do
            git pull --rebase
            git push && break
            n=$((n+1))
            sleep 10
          done
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
